@media print {
  .languageDivContainer {
    display: none;
  }
  .instructions-div {
    display: none;
  }
  .p-error{
    display: none;
  }
  .p-support {
    display: none;
  }
  .print-button {
    display: none;
    visibility: hidden;
  }
  .hide {
    display: none !important;
  }
  .print-only {
    display: block;
  }
}

@media screen {
  .print-only {
    display: none !important; /* Ensure it overrides any other styles */
  }
}

.cibc-logo {
  width: auto;
  height: 50px;
  margin: 0px;
}

.Home-div {
  background-color: white;
  margin-left: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 2fr; /* Two columns */
  align-items: center;
  gap: 20px; /* Adjust this value to control the spacing */
}

.grid-container p {
  justify-self: start;
}

.grid-container Text {
  justify-self: end;
  width: 100%; /* Ensure the Text component takes the full width of the column */
}

.span-style {
  opacity: 1;
}


.p1 {
  font-size: 18px;
  margin: 0px;
}

.p-page-title {
  font-size: 34px;
  margin: 0px;
  font-weight: bold;
}

.p-segment-title {
  font-size: 26px;
  margin: 0px;
  font-weight: bold;
  margin: 0px;
}

.p-error {
  font-size: 16px;
  margin: 0px;
  color: red;
}

.p-error2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 20px;
  color: red;
}

.p-support {
  font-size: 14px;
  margin: 0px;
}

.instructions-image {
  width: 800px;
  height: auto;
  margin: 0px;
}

.instructions-button {
  background-color: rgb(76, 150, 235);
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: white;
  margin: 0px;
  cursor: pointer;
}
.instructions-shown {
  background-color: white;
}

.print-button {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.print-button:hover {
  opacity: 0.5;
}

.print-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.spacer-div5 {
  height: 5px;
}

.spacer-div10 {
  height: 10px;
}

.spacer-div20 {
  height: 20px;
}

.spacer-div30 {
  height: 30px;
}

.spacer-div40 {
  height: 40px;
}

.spacer-div50 {
  height: 50px;
}

